beautifulsoup4>=4.12.3
pycryptodomex>=3.20.0
alive-progress>=3.1.5
python-dotenv>=1.0.1
SQLAlchemy>=2.0.30
yt-dlp>=2024.4.9
gunicorn>=22.0.0
music-tag>=0.4.3
selenium>=4.21.0
requests>=2.32.2
watchdog>=4.0.1
bottle>=0.12.25
mistune>=3.0.2
pexpect>=4.9.0
pillow>=10.3.0
loguru>=0.7.2
arrow>=1.3.0
